@model ContentItemBase
@{
    var target = Model.Data.Target;
    var idPrefix = "accordion-" + target.Title.Replace(" ", "-").ToLower();
}

<div class="govuk-accordion" data-module="govuk-accordion" id="@idPrefix">
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="@idPrefix-heading">
                    @target.Title
                </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="@idPrefix-summary">
                @target.SummaryLine
            </div>
        </div>
        <div id="@idPrefix-content" class="govuk-accordion__section-content">
            <p class="govuk-body">@target.Body</p>
        </div>
    </div>
</div>