@model ContentItemBase


<div>
    <h2>Custom component</h2>
    <h3>@Model.Data.Target.Title</h3>
    <p>@Model.Data.Target.Asset.File.Url</p>
    <p>@Model.Data.Target.Asset.File.Details.Size</p>
    <p>@Model.Data.Target.Asset.File.ContentType</p>
</div>