@using Newtonsoft.Json.Linq
@model ContentSupportPage

<h1>@Model.Title.Text</h1>

@foreach (var content in @Model.Content)
{
    var richText = content["richText"];

    if (richText != null && richText["nodeType"] != null)
    {
        <partial name="RichText/_RichText" model="@richText" />
    }
}