@{
    var asset = Model.data.target.fields.file;
}
<div class="column-full">
    @{
        if (asset.contentType == "image/jpeg" || asset.contentType == "image/png")
        {
            <img src="@asset.url" alt="@Model.data.target.fields.description" title="@Model.data.target.fields.title" />
        }
        else if (asset.contentType == "video/mp4" || asset.contentType == "video/quicktime")
        {
            <video controls>
                <source src="@asset.url" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
    }
</div>