@model ContentItemBase

@{
    var asset = Model.Data.Target.Fields.File;
}
<div class="column-full">

    @switch (asset.ContentType)
    {
        case "image/jpeg" or "image/png":
            <img src="@asset.Url" alt="@Model.Data.Target.Fields.Description" title="@Model.Data.Target.Fields.Title"/>
            break;
        case "video/mp4" or "video/quicktime":
            <video controls>
                <source src="@asset.Url" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            break;
    }
</div>