@model Dfe.ContentSupport.Web.Models.Mapped.Standard.Hyperlink

@if (Model.IsVimeo)
{
    <partial name="RichText/_Vimeo" model="@Model" />
}
else
{
    <a href="@Model.Uri">
        <partial name="RichText/_Items" model="@Model"/>
    </a>
}