@using Newtonsoft.Json.Linq
@model JObject

@* check if video is vimeo link - if so render vimeo partial instead *@
@if (Model["data"]["uri"]?.ToString().Contains("vimeo.com") == true)
{
    <partial name="RichText/_Vimeo" model="@Model" />
}
else
{
    <a href="@Model["data"]["uri"]?.ToString()">
    @if (Model["content"] is JArray childNodes)
        {
            foreach (var childNode in childNodes)
            {
                <partial name="RichText/_RichText" model="@childNode" />
            }
        }
    </a>
}