@model Hyperlink

@if (Model.IsVimeo)
{
    <partial name="RichText/_Vimeo" model="@Model" />
}
else
{
    <a href="@Model.Uri" target="_blank">
        <partial name="RichText/_Items" model="@Model"/>
    </a>
}