@using Newtonsoft.Json.Linq
@model JToken

<table>
    <thead>
        @if (Model["content"] is JArray headerNodes)
        {
            foreach (var childNode in headerNodes)
            {
                if (childNode["nodeType"].ToString() == "table-row" && childNode["content"][0]["nodeType"].ToString() ==
                "table-header-cell")
                {
                    <partial name="RichText/_TableRow" model="@childNode" />
                }
            }
        }
    </thead>
    <tbody>
        @if (Model["content"] is JArray bodyNodes)
        {
            foreach (var childNode in bodyNodes)
            {
                if (childNode["nodeType"].ToString() == "table-row" && childNode["content"][0]["nodeType"].ToString() ==
                "table-cell")
                {
                    <partial name="RichText/_TableRow" model="@childNode" />
                }
            }
        }
    </tbody>
</table>