@using Dfe.ContentSupport.Web.Common
@using Newtonsoft.Json.Linq
@model JToken

<table>
    <thead>
        @if (Model["content"] is JArray headerNodes)
        {
            foreach (var childNode in headerNodes)
            {
                if (childNode["nodeType"].ToString() == RichTextTags.TableRow && childNode["content"][0]["nodeType"].ToString() ==
                RichTextTags.TableHeaderCell)
                {
                    <partial name="RichText/_TableRow" model="@childNode" />
                }
            }
        }
    </thead>
    <tbody>
        @if (Model["content"] is JArray bodyNodes)
        {
            foreach (var childNode in bodyNodes)
            {
                if (childNode["nodeType"].ToString() == RichTextTags.TableRow && childNode["content"][0]["nodeType"].ToString() ==
                RichTextTags.TableCell)
                {
                    <partial name="RichText/_TableRow" model="@childNode" />
                }
            }
        }
    </tbody>
</table>