<div>
    @{
        var richText = Model["RichText"];

        if (richText != null && richText["nodeType"] != null)
        {
            <partial name="RichText/_RichText" model="@richText" />
        }
    }
</div>