@model Entry;
<div id="@Model.JumpIdentifier">
    @{
        var richText = Model.RichText;

        if (richText is { NodeType: not null })
        {
            <partial name="RichText/_RichText" model="@richText" />
        }
    }
</div>